<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="note.dao.UserDao">
	<sql id="user_value">
		cn_user_id,cn_user_name,cn_user_password,cn_user_token,cn_user_nick
	</sql>
	
	<!-- 查询指定用户 用户名已存在则停止创建此用户 -->
	<select id="findByName" parameterType="String" resultType="note.entity.Cn_User">
		select * from cn_user where cn_user_name=#{name}
	</select>
	
	<!-- 新增用户 -->
	<insert id="addUser" parameterType="note.entity.Cn_User">
		insert into cn_user
		(cn_user_id,cn_user_name,cn_user_password,cn_user_nick)
		values (#{cn_user_id},#{cn_user_name}, 
		#{cn_user_password},#{cn_user_nick})
	</insert>
</mapper>